
<div *ngIf="cart">
    <h2><span jhiTranslate="zeShopApp.cart.detail.title">Cart</span> {{cart.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zeShopApp.cart.createdDate">Created Date</span></dt>
        <dd>
            <span>{{cart.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="zeShopApp.cart.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{cart.updatedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="zeShopApp.cart.product">Product</span></dt>
        <dd>
            <span *ngFor="let product of cart.products; let last = last">
                <a [routerLink]="['/product', product?.id ]">{{product.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="zeShopApp.cart.user">User</span></dt>
        <dd>
            {{cart.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cart/'+ cart.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
