
<div *ngIf="cartProduct">
    <h2><span jhiTranslate="zeShopApp.cartProduct.detail.title">Cart Product</span> {{cartProduct.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zeShopApp.cartProduct.quantity">Quantity</span></dt>
        <dd>
            <span>{{cartProduct.quantity}}</span>
        </dd>
        <dt><span jhiTranslate="zeShopApp.cartProduct.addedDate">Added Date</span></dt>
        <dd>
            <span>{{cartProduct.addedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="zeShopApp.cartProduct.cart">Cart</span></dt>
        <dd>
            <div *ngIf="cartProduct.cartId">
                <a [routerLink]="['/cart', cartProduct.cartId]">{{cartProduct.cartId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="zeShopApp.cartProduct.product">Product</span></dt>
        <dd>
            <div *ngIf="cartProduct.productId">
                <a [routerLink]="['/product', cartProduct.productId]">{{cartProduct.productId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="zeShopApp.cartProduct.productCustomization">Product Customization</span></dt>
        <dd>
            <div *ngIf="cartProduct.productCustomizationId">
                <a [routerLink]="['/product-customization', cartProduct.productCustomizationId]">{{cartProduct.productCustomizationId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cart-product/'+ cartProduct.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
